PORT = 5000
MONGODB_URI = mongodb+srv://devsuhan:devsuhan@cluster0.gvsxiwt.mongodb.net/eventoraDEV?appName=Cluster0
EMAIL_USER = patilsuhan81@gmail.com
EMAIL_PASS =matruvcmoftzyhdk
JWT_SECRET = patilsuhan